@import '../../shared/scss/variables-dark';
@import '../../shared/scss/base';
@import 'report';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

%link-style {
    text-decoration: none;
    color: $link-color;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

img {
    filter: brightness(85%);
}

/*
* Header
*/
.header {
    padding: 1em;
    background-color: $main-color;
    overflow: auto;
}

.logo {
    float: left;
    width: 77px;
    margin-right: 1em;

    img {
        border-radius: 4%;
        max-width: 100%;
    }
}

.title {
    display: block;
    
    h1 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: $text-color;
    }
}

/*
* Navbar
*/
.nav {
    padding: 1em;
    border-top: 1px solid $link-color;
    background-color: $main-color;
    text-align: center;

    a {
        @extend %link-style;
        display: inline-block;
        padding: 0 0.3em;
        font-size: 1.2em;
        font-weight: bold;
    }

    a:hover {
        color: $link-color-hover;
    }
}

.active {
    color: $link-color-hover !important;
}

/*
* Flash-image
*/
.flash-region {
    @extend %content-center;
    background-color: $background-color;
    text-align: center;
    padding: 0 1em;

    img {
        max-width: 100%;
    }
}

/*
* Main
*/
.main {
    @extend %content-center;
    background-color: $background-color;
    overflow: auto;
    min-height: 90vh;
}

.content {
    width: 70%;
    margin: 0 auto;

    a {
        color: $link-color;
    }

    a:hover {
        color: $link-color-hover;
    }
}

/*
* Footer
*/
.footer {
    background-color: $main-color;
    overflow: auto;
    padding: 1em;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.social {
    justify-self: right;

    a {
        @extend %link-style;
        font-size: 2em;
    }

    a:hover {
        color: $link-color-hover;
    }
}

/*
* Misc
*/
.image-medium {
    width: 60%;
}

/*
* Mobile
*/
@media (max-width: 980px) {
    p {
        font-size: 1.1em;
    }

    .nav {
        a {
            display: block;
            margin: 1em;
        }
    }

    .flash-region {
        padding: 0;
    }

    .content {
        width: 100%;
    }

    .social {
        a {
            margin-left: 0.5em;
        }
    }

    .image-medium {
        width: 80%;
    }

    .footer {
        .container {
            grid-template-columns: 1fr;
        }

        p {
            justify-self: center;
        }

        .social {
            justify-self: center;
        }
    }
}
