@import '../../shared/scss/base';

%link-style {
    text-decoration: none;
    color: $link-color;
}

/*
* Header
*/
.header {
    @extend %content-center;
    background-color: $green;
    overflow: auto;
}

.logo {
    display: inline-block;
    width: 77px;

    img {
        border-radius: 4%;
        max-width: 100%;
    }
}

.title {
    display: inline-block;
    
    h1 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: $link-color-hover;
    }
}

/*
* Navbar
*/
.nav {
    @extend %content-center;
    border-top: 1px solid $link-color;
    background-color: $green;
    text-align: center;

    a {
        @extend %link-style;
        display: inline-block;
        padding: 0 0.3em;
        font-size: 1.2em;
        font-weight: bold;
    }

    a:hover {
        color: $link-color-hover;
    }
}

.active {
    color: $link-color-hover !important;
}

/*
* Flash-image
*/
.flash-region {
    @extend %content-center;
    background-color: #dadada;
    text-align: center;
    padding: 0 1em;

    img {
        max-width: 100%;
    }
}

/*
* Main
*/
.main {
    @extend %content-center;
    max-width: 960px;
    background-color: #dadada;
    overflow: auto;
}

.content {
    width: 70%;
    margin: 0 auto;
}

/*
* Footer
*/
.footer {
    background-color: $green;
    overflow: auto;
    padding: 1em;
    color: $link-color;
}

.social {
    float: right;

    a {
        @extend %link-style;
        font-size: 3em;
    }

    a:hover {
        color: $link-color-hover;
    }
}

/*
* Misc
*/
.image-medium {
    width: 60%;
}
