%content-center {
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
}

html {
    font-size: 100%;
    color: $text-color;
}

p {
    font-size: 1em;
    margin-bottom: 1.375em;
}

body {
    background-color: $background-color;
    overflow: auto;
    line-height: 1.25;
}
